.cta-section {
    background-color: white;
    color: black;
    padding: 60px 0;
    margin-top: 20px;
  }
  
  .cta-section h2 {
    font-size: 2.5rem;
  }
  
  .cta-section p {
    font-size: 1.2rem;
  }
  
  .cta-section .btn {
    font-size: 1rem;
  }
  