.feature-section {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.feature-section h2 {
  font-size: 2.5rem;
}

.feature-section p {
  font-size: 1.2rem;
}

.feature-img {
  max-width: 90%;
  height: auto;
}